<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <div class="section">
      <a href="/"><img src="/public/ICON.png" alt=""></a>
      <div class="glass-pink" style="margin: 50;">
        <h1>Reset Password</h1>
        <h2><i>Please provide your details below...</i></h2>
        <form method="post" action="/reset">
            <p>
              <label for="token">Reset Token:</label><br>
              <input type="text" name="token" id="token">
            </p>
            <p>
                <label for="password">New Password:</label><br>
                <input type="password" name="password" id="password">
            </p>
            <p>
              <input class="button-blue" type="submit" value="Reset Password">
            </p>
          </form>
        <%- message %>
      </div>
    </div>
  </body>
</html>