<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <div class="section">
      <img src="/public/ICON.png" alt="">
      <div class="glass-pink" style="margin: 50;">
        <h1>this file has been marked as private...</h1>
        <h2><i>the requested file is not designated for sharing. please contact the sender for more information.</i></h2>
      </div>
    </div>
  </body>
</html>