<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <div class="section">
      <img src="/public/ICON.png" alt="">
      <div class="glass-pink" style="margin: 50;">
        <h1>a file has been shared with you...</h1>
        <h2><i><%- fileName %> uploaded by <%- userName %></i></h2>
        <button class="button-blue" onclick="window.location.href='?action=download'">Download</button></a>
        <% if(enablePreview){ %>
        <button class="button-clear" onclick="window.location.href='?action=preview'">Preview</button></a>
        <% } else { %>
            <br><i>this filetype can not be previewed</i><br>
        <% } %>
      </div>
    </div>
  </body>
</html>