<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>FilingSaucer Web Client</title>
  <meta property="og:title" content="A-Share">
  <meta property="og:site_name" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="Share your files and delete them with a randomly generated OTP.">
  <meta property="og:type" content="article">
  <meta property="og:image" content="">
</head>
<body>
  <div class="jumbotron">
    <p align="center"><a><img src="../icon.png" width="200" height="200" /></a></p>
    <h1 align="center">Success!</h1>
<div class="container col-sm-12" id="choose-files" oncopy="return false" oncut="return false" onpaste="return false">
    <form align="center" action="/uploadfile" method="post" enctype="multipart/form-data">
      <hr>
      <h3>View File: </h3><a href="<%= viewLink %>" target="_blank"><h4><%= viewLink %></h4></a>
      <h3>Delete File: </h3><a href="<%= deletionLink %>"><h4><%= deletionLink %></h4></a>
</div>
  <div class="jumbotron">
  </div>
  <p class="text-center text-muted"><small>Uploaded files are occasionally purged and furthermore are subject to manual deletion. The host bears no liability for files uploaded and distributed through A-Share, an open source project.</small><br>
  <p class="text-center text-muted"><small>If you suspect this application is being abused, please contact the email associated with this site's administrator.</small>
    <br>
    <p align="right"><a><img src="../aeriallaptop.png" width="200" height="200" /></a></p>



</body>
</html>