
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=0.8" /> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="style.css" rel="stylesheet" type="text/css"/>
  <head>
    <meta charset="UTF-8">
    <title>FilingSaucer Web Client</title>
    <meta property="og:title" content="File shared via FilingSaucer">
    <meta property="og:site_name" content="FilingSaucer">
    <meta property="og:url" content="">
    <meta property="og:description" content="A file exchange webapp with easy upload and deletion!">
    <meta property="og:type" content="article">
    <meta property="og:image" content="../icon.png">
  </head>
  <body>
    <div class="titlebar">
      <a href="/">
        <i class="fa-solid fa-arrow-left-long"></i> Home </a>
      <a href="/history">
        <i class="fa-solid fa-list"></i> History </a>
    </div>
    <div class="jumbotron">
      <p align="center">
        <a>
          <img src="../icon.png" width="200" height="200" />
        </a>
      </p>
      <h1 align="center">File Uploaded</h1>
      <div align="center" class="container col-sm-12" id="choose-files" oncopy="return false" oncut="return false" onpaste="return false">
        <hr>
        <h3>Share File: </h3>
        <a href="<%= shareLink %>" target="_blank">
          <h4><%= shareLink %> </h4>
        </a>
        <br>
        <h3>Delete File: </h3>
        <a href="<%= deletionLink %>">
          <h4><%= deletionLink %> </h4>
        </a>
      </div>
      <div class="jumbotron"></div>
      <p class="text-center text-muted">
        <small>Uploaded files are occasionally purged and furthermore are subject to manual deletion. The host bears no liability for files uploaded and distributed through Filing Saucer, an open source project.</small>
        <br>
      <p class="text-center text-muted">
        <small>If you suspect this application is being abused, please contact the email associated with this site's administrator.</small>
        <br>
      <p align="right">
        <a>
          <img src="../btmright.png" width="200" height="200" />
        </a>
      </p>
  </body>
</html>
