<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <div class="section">
      <img src="/public/ICON.png" alt="">
      <div class="glass-pink" style="margin: 50;">
        <h1>Welcome...</h1>
        <h2><i>please login to continue</i></h2>
        <button class="button-blue" onclick="window.location.href='/login'">Login</button></a>
        <button class="button-clear" onclick="window.location.href='/register'">Register</button></a>
        <a href="https://github.com/enbytedev/Filing-Saucer"><button class="button-clear">GitHub</button></a>
      </div>
    </div>
  </body>
</html>