<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <div class="section">
      <img src="/public/ICON.png" alt="">
      <div class="glass-pink" style="margin: 50;">
        <h1>404</h1>
        <h2><i>the requested page was not found...</i></h2>
        <button class="button-blue" onclick="window.location.href='/'">Home</button></a>
      </div>
    </div>
  </body>
</html>