<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <div class="section">
      <img src="/public/ICON.png" alt="" height="200px" width="200px">
      <div class="glass-pink" style="margin: 50;">
        <h1><%- greeting %>, <%- name %> ✨</h1>
        <h2><i>your filing saucer dashboard is below</i></h2>
        <button class="button-blue" onclick="window.location.href='/history'">History</button></a>
        <button class="button-blue" onclick="window.location.href='/account'">Account Settings</button></a>
        <button class="button-clear" onclick="window.location.href='/logout'">Log Out</button></a>
      </div>
      <div class="glass-blue">
        <h2>upload.</h2>
        <%- info %>
        <form align="center" action="/upload" method="post" enctype="multipart/form-data">
          <input class="button-clear" style="border-radius: 4px;" type="file" name="file" id="uploads" />
          <br>
          <input class="button-pink" type="submit" name="upload" value="Upload">
        </form>
      </div>
    </div>
  </body>
</html>