<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=0.8" /> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="style.css" rel="stylesheet" type="text/css"/>
  <head>
    <meta charset="UTF-8">
    <title>FilingSaucer Web Client</title>
    <meta property="og:title" content="FilingSaucer Web Client">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="A file exchange webapp with easy upload and deletion!">
    <meta property="og:type" content="article">
    <meta property="og:image" content="">
  </head>
  <body>
<div class="container">
    <h1>FilingSaucer</h1>
    <h2>A file exchange webapp with easy upload and deletion!</h2>
</div>
  </body>
  </html>