body {
    margin: 0;
    /* Make sure any reasonable browser can use a preferred font. system-ui is best when placed first since it can speed up load times. */
    font-family: system-ui, Arial, sans-serif, Verdana, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    vertical-align: middle;
    /* All content is centered */
    text-align:center;
    /* Set background to the gradient */
    background: rgb(205,136,205);
    background: linear-gradient(306deg, rgba(205,136,205,1) 0%, rgba(56,172,255,0.8029586834733894) 100%);
}
 
hr {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 0;
    border-top: 3px solid rgba(0, 0, 0, .4);
}

.container {
	background: #0A2463;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.section {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
	flex-direction: row;
	align-items: center;
}

.glass-pink {
    background: rgba( 245, 82, 179, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.glass-blue {
    background: rgba(82, 191, 245, 0.45);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glass-clear {
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.button-blue {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px 2px;
    cursor: pointer;
    border-radius: 8px;
    background: rgba(82, 191, 245, 0.45);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
 }

.button-blue:hover {
    background: rgba(82, 191, 245, 0.8);
}

.button-pink {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px 2px;
    cursor: pointer;
    border-radius: 8px;
    background: rgba( 245, 82, 179, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
 }

.button-pink:hover {
    background: rgba(245, 82, 179, 0.8);
}

.button-clear {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px 2px;
    cursor: pointer;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.307);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
 }

.button-clear:hover {
    background: rgba(255, 255, 255, 0.8);
}

input[type=text] {
    width: 40%;
    background: rgba(82, 191, 245, 0.45);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 15px 32px;
    transition: width 0.4s ease-in-out, background 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 60%;
    background: rgba(82, 191, 245, 0.8);
}