<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <div class="section">
      <a href="/"><img src="/public/ICON.png" alt=""></a>
      <div class="glass-pink" style="margin: 50;">
        <h1>Reset Password</h1>
        <h2><i>Please provide your details below...</i></h2>
        <form method="post" action="/forgot">
            <p>
              <label for="email">Email:</label><br>
              <input type="text" name="email" id="email">
            </p>
            <p>
              <input class="button-blue" type="submit" value="Request Code">
            </p>
          </form>
        <%- message %>
      </div>
    </div>
  </body>
</html>