<meta name="viewport" content="width=device-width, initial-scale=0.8" /> <!-- Ensures proper rendering on mobile devices -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> <!-- Font Awesome for emojis and symbols -->
<link href="/public/style.css" rel="stylesheet" type="text/css"/> <!-- Link to the style sheet -->
<head>
  <meta charset="UTF-8">
  <title>Filing Saucer</title>
  <meta property="og:title" content="FilingSaucer Web Client">
  <meta property="og:site_name" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="A file exchange webapp with easy upload and deletion!">
  <meta property="og:type" content="article">
  <meta property="og:image" content="">
</head>